---
import DefaultLayout from '~/layouts/DefaultLayout.astro'
---

<DefaultLayout title="Not Found">
  <section class="text-lg"><span class="text-accent">404</span> Not Found</section>
</DefaultLayout>
