---
import A from '~/components/A.astro'
import Profile from '~/components/ui/Profile.astro'
import DefaultLayout from '~/layouts/DefaultLayout.astro';
---

<DefaultLayout>
  <section>
    <Profile />
  </section>

  <section>Hello World!</section>

  <section>
    <b>——— a little information about me ———</b>
    <div class="mt-2 table">
      <b>birthday</b>
      <p>February 09</p>

      <b>languages</b>
      <p>ru, en</p>

      <b>fav flower</b>
      <p>sunflower</p>

      <b>fav anime</b>
      <p>
        gochiusa (<A href="//gochiusa/shiki">shiki</A>/<A href="//gochiusa/anilist">anilist</A>)
      </p>

      <b>fav music</b>
      <p>mainly rock/metal, check <A href="//my/profiles/lastfm">lastfm</A></p>
    </div>
  </section>

  <section>
    <b>——— where do i exist? ———</b>
    <div class="my-2 table">
      <b>telegram</b>
      <p><A href="//my/profiles/telegram">@asyomei</A></p>

      <b>bluesky</b>
      <p><A href="//my/profiles/bluesky">@asyomei.org</A></p>

      <b>github</b>
      <p><A href="//my/profiles/github">@asyomei</A></p>
    </div>
    <p>somewhere else...</p>
  </section>

  <section>
    <b>——— some useless links ———</b>
    <div class="mt-2 table">
      <p><A href="//ayaya10hVideo">ayaya 10h</A></p>
      <p>why not</p>
    </div>
  </section>
</DefaultLayout>
