---
import A from '~/components/A.astro'
import Profile from '~/components/ui/Profile.astro'
import Section from '~/components/ui/Section.astro'
import DefaultLayout from '~/layouts/DefaultLayout.astro'
---

<DefaultLayout>
  <Section>
    <Profile />
  </Section>

  <Section>Hello World!</Section>

  <Section title="a little information about me">
    <div class="table">
      <b>birthday</b>
      <p>February 09</p>

      <b>languages</b>
      <p>ru, en</p>

      <b>fav flower</b>
      <p>sunflower</p>

      <b>fav anime</b>
      <p>
        gochiusa (<A href="//gochiusa/shiki">shiki</A>/<A href="//gochiusa/anilist">anilist</A>)
      </p>

      <b>fav music</b>
      <p>mainly rock/metal, check <A href="//my/profiles/lastfm">lastfm</A></p>
    </div>
  </Section>

  <Section title="where do i exist?">
    <div class="mb-2 table">
      <b>telegram</b>
      <p><A href="//my/profiles/telegram">@asyomei</A></p>

      <b>bluesky</b>
      <p><A href="//my/profiles/bluesky">@asyomei.org</A></p>

      <b>github</b>
      <p><A href="//my/profiles/github">@asyomei</A></p>
    </div>
    <p>somewhere else...</p>
  </Section>

  <Section title="some useless links">
    <div class="table">
      <p><A href="//ayaya10hVideo">ayaya 10h</A></p>
      <p>why not</p>
    </div>
  </Section>
</DefaultLayout>
