---
import Profile from '~/components/ui/Profile.astro'
import DefaultLayout from '~/layouts/DefaultLayout.astro';
---

<DefaultLayout>
  <section>
    <Profile />
  </section>

  <section>Hello World!</section>
</DefaultLayout>
