---
import A from '~/components/A.astro'
---

<footer class="mx-4 border-t pt-2 text-center text-10px text-secondary leading-3">
  <p>
    last updated {import.meta.env.BUILD_DATE}
    / <A href="//my/projects/asyomei-org">source code</A>
  </p>
  <p>heavily inspired by <A href="//teidesu">tei.su</A></p>
</footer>
